extends layout 

block head 
    link(rel="stylesheet", href="../style/createPost.css")
    title Fotaza - Publicar
block main
    form#postForm(action="/post/create", method="post", enctype='multipart/form-data')
        label(for="title") Título
            input.userInput(type="text", name="title", value=title required)
        label(for="desc") Descripción
            textarea.userInput#desc(name="desc", maxlength='250', rows='3',  value=desc)
        label(for="tags") Etiquetas separadas por comas.
            input.userInput(type="text", name="tags", value=tags required)
        label#add-files-btn.blue-button(for="files") Seleccionar Archivos
            input#files(type="file", name="files", accept="image/*,video/*", multiple, style="display: none")
        #preview
    
        if err
            ul#err
                each e in err
                    li=e 
        button#submit.blue-button(type="submit") Publicar

    #config-popover(popover).modal
        #wea
            #popover-file-name
            label(for="watermark") Marca de agua: 
                input#input-watermark(type="text", name="watermark")
block scripts
    script(src="/script/createPost.js") 