extends layout
include mixins/postCard

block head 
    title Fotaza 
block main
    #principal
        #recientes
            h2 Recientes
            each p in recientes
                +postCard(p)

        aside#valorados 
            h2 Más votados
            each p in top
                +postCard(p)