doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
    body
        header
            nav
                ul
                    li meow
                    li meow2

        block body