doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/index.css")
        block head
    body
        header
            nav(data-user-id=(user ? user.id : ''))
                h1#siteName: a(href="/") Fotaza
                form#searchBar(action="/search", method="post")
                    input#searchInput(type="text", name="q", autocomplete='off' ,placeholder='Buscar...')
                    button#glass(type="submit") 🔍
                    #searchHelper
                        .searchOption
                            label(for="optionTags") Tags
                            input#optionTags(type="radio", name="option", value='tags', checked)
                        .searchOption
                            label(for="optionUsername") Usuario
                            input#optionUsername(type="radio", name="option" value='username')
                        .searchOption
                            label(for="optionTitle") Título
                            input#optionTitle(type="radio", name="option", value='title')
                            
                ul
                    if user
                        li: a(href='/post/create') Publicar
                        li: a(href="/profile") Perfil
                        li: form(action="/logout", method="post"): button(type="submit") Salir 🚪
                    else
                        li: a(href="/login") Iniciar Sesión
                        li: a(href="/signup") Crear Cuenta
        main
            block main
    block scripts
    script(src="/script/index.js")