doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
    body
        header
            nav
                ul
                    li: a(href="/") Inicio
                    if user
                        li: a(href="/profile") Ver Perfil
                        li: form(action="/logout", method="post"): button(type="submit") Salir 🚪
                    else
                        li: a(href="/login") Iniciar Sesión
                        li: a(href="/signup") Crear Cuenta

        main
            block main