extends layout 

block title
    title Iniciar Sesión
block body
    form(action="/login", method="post") 
        label(for="email") Email:
        input(type="email", name="email", value=(email?email:""))

        label(for="password") Contraseña:
        input(type="password", name="password")

        input(type="submit", value="Iniciar Sesión")

    if err
        p #{err}