extends layout 

block head
    title Iniciar Sesión
    link(rel="stylesheet", href="/style/login.css")
block main 
    #container
        form#loginForm(action="/login", method="post")
            section 
                label(for="email") Email:
                    input(type="email", name="email", value=email)
            
                label(for="password") Contraseña:
                    input(type="password", name="password")

                button(type="submit") Iniciar Sesión

    if err
        #error #{err}