extends layout 
block head
    title Perfil de #{profile.username}
block main
    #profileHeader 
        h1#userName #{profile.username}
        if (user)
            button(type="button") Seguir
    

    each p in profile.posts
        p: a(href=`/post/${p.id}`)  #{p.title}