extends layout

block head
    title Registrarse
    link(rel="stylesheet", href="/style/login.css")

block main
    #container
        form#signUpForm(action="/signup", method="post")
            section
                label(for="username") Nombre:
                    input(type="text" name="username" value=(values? values.username:"") required)
                
                label(for="email") Email:
                    input(type="email" name="email" value=(values? values.email:"") required)

                label(for="password") Contraseña:
                    input(type="password" name="password" required)

                input(type="submit", value="Crear cuenta")
        if err
            ul
                each e in err
                    li=e