extends layout

block title
    title Registrarse
block body
    form(action="/signup", method="post") 
        label(for="username") Nombre:
        input(type="text", name="username" value=(values? values.username:""))
        
        label(for="email") Email:
        input(type="email", name="email" value=(values? values.email:""))

        label(for="password") Contraseña:
        input(type="password", name="password")

        input(type="submit", value="Crear cuenta")
    if err
        p #{err}