mixin postCard(p)
    .postCard(id=`${p.id}`)
        .postCardHeader
            a(href=`/post/${p.id}`)
                h4= p.title
            .postCardCreatedAt: span= new Date(p.createdAt).toLocaleDateString('es-AR')
        .postCardFooter
            if p.author
                .postCardAuthor: span Publicado por: 
                    a(href=`/profile/${p.author.id}`)= p.author.username
        .postTags
            span tags: 
                =p.tags.map(t => t.tag).join(', ')