mixin postCard(p)
    .postCard(id=`${p.id}`)
        .postCardHeader
            h4= p.title
            .postCardCreatedAt: span= new Date(p.createdAt).toLocaleDateString('es-AR')
        .postCardFooter
            if p.author
                .postCardAuthor: span Publicado por: 
                    a(href=`/profile/${p.author.id}`)= p.author.username
        .postTags
            div
            span tags: 
                for tag in p.tags
                    a(href=`/search/?tags=on&q=${tag.tag}`): span.tag=tag.tag
                