main {
    margin-top: 1rem;
    gap: 1rem;
}

.post {
    .postCard {
        min-width: 50%;
    }
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    button {
        align-self: center;
    }
}