* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --accent-color: #1360dbfc;
    --main-bg-color: #1d1d20;
    --input-bg-color: rgb(29, 29, 29, 0.8);
    --component-bg-color: #28282c;
    --black-shadow: 0 0 5px black;
    --accent-shadow: inset 0 0 5px var(--accent-color), 0 0 5px var(--accent-color);
    --main-font-color: #ccc;
    --input-border: #515456;
    --component-bg-color: rgba(34, 34, 34, 0.8);
}


a,
a:visited {
    text-decoration: none;
    color: var(--main-font-color);
}

a:hover {
    cursor: pointer;
    color: #fff;
}

input,
textarea,
select {
    text-align: justify;
    outline: none;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border);
    color: var(--main-font-color);
    border-radius: 6px;
    padding: 5px;

    &:focus {
        box-shadow: inset 0 0 5px rgba(8, 98, 242, 0.553), 0 0 5px #0862f279;
    }
}

body {
    background-color: var(--main-bg-color);

    header {
        position: sticky;
        top: 0;
        z-index: 1;

        nav {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 0.25rem 0.5rem;
            background-color: var(--component-bg-color);
            color: var(--main-font-color);
            box-shadow: var(--black-shadow);

            #searchBar {
                background-color: var(--main-bg-color);
                border: 1px solid #515456;
                border-radius: 12px;

                #searchInput {
                    border: none;
                    border-radius: 6px;
                    background-color: transparent;
                    margin: 0 5px;
                    padding: 0.5rem;
                    min-width: 30rem;
                    color: var(--main-font-color);
                }

                #searchInput:focus {
                    outline: none;
                    box-shadow: none;
                }

                #searchHelper {
                    padding: 5px;
                    width: 32.5rem;
                    margin-top: 9px;
                    display: none;
                    position: absolute;
                    background-color: var(--component-bg-color);
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.624);
                    border-top: none;
                    backdrop-filter: blur(16px);
                    border-radius: 0 0 12px 12px;
                }

                .searchOption {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 5px;
                    border-radius: 6px;

                    &:hover {
                        background-color: rgb(255, 255, 255, 0.1);
                    }

                    label {
                        width: 100%;
                        padding: 5px;
                    }
                }
            }

            button {
                cursor: pointer;
                background-color: transparent;
                border: none;
                color: var(--main-font-color);
                font-size: 1rem;

            }

            button:hover {
                color: #fff;
            }

            #glass {
                margin-right: 10px;
            }

            ul {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 15px;
            }
        }
    }

    main {
        color: var(--main-font-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding-top: 1rem;
    }

}

textarea {
    resize: none;
}

#principal {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
    border-radius: 6px;
    box-shadow: var(--black-shadow);
    background-color: var(--component-bg-color);

    #recientes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 65%;
        padding: 1rem;
        box-shadow: var(--black-shadow);
        background-color: var(--main-bg-color);
    }

    aside {
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        gap: 1rem;
        width: 30%;
        padding: 1rem;
        box-shadow: var(--black-shadow);
        height: fit-content;
    }
}

.postCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #515456b8;
    border-radius: 6px;
    padding: 1rem;
    background-color: var(--component-bg-color);

    &:hover {
        box-shadow: 0 0 5px #0860f2;
        cursor: pointer;
    }

    .postCardHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 100%;


    }

    .postCardMiniatures {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        img,
        video {
            object-fit: cover;
            max-width: 10rem;
            max-height: 10rem;
        }
    }

    .tag:not(:last-child)::after {
        content: ', ';
    }

    .postCardCreatedAt {
        text-align: end;
    }
}

#FollowBtn {
    margin-bottom: 6px;
}

#profileHeader {
    display: flex;
    gap: 1rem;
    border: 1px solid #232425b8;
    border-radius: 6px;
    margin-top: 1rem;
    background-color: var(--component-bg-color);
    box-shadow: var(--black-shadow);
    padding: 1rem;
    font-size: larger;
    width: 95%;
}

.postTags {
    width: 100%;
    text-align: right;
}

#resultados {

    h1,
    h2 {
        text-align: center;
        padding: 1rem;
    }

    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .userCard {
        width: 25%;
        border: 1px solid #515456;
        text-align: center;
        padding: 1rem;
        border-radius: 6px;
        align-self: center;
        box-shadow: var(--black-shadow);
        background-color: var(--component-bg-color);

        &:hover {
            border: 1px solid #1a7ae2a5;
        }
    }

}

.modal {
    h2 {
        text-align: center;
    }

    padding: 1rem;
    margin: auto;
    min-width: 30vw;
    backdrop-filter: blur(3px);
    border: 1px solid gray;
    box-shadow: 0 0 2px gray;
    border-radius: 8px;
    color: #ccc;
    background-color: rgba(34, 34, 34, 0.9);

    &::backdrop {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.09);
        backdrop-filter: blur(4px);
    }

    form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        section {
            display: flex;
            flex-direction: column;
        }

    }

    .modalContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
}

.blue-button {
    cursor: pointer;
    color: white;
    font-size: 12pt;
    background-color: var(--accent-color);
    box-shadow: var(--black-shadow);
    border-color: var(--accent-color);
    border-radius: 5px;
    padding: 3px 8px;

    &:hover {
        scale: 1.05;
    }
}

.notificationsCount {
    background-color: rgb(255, 0, 0, 0.5);
    font-size: small;
    font-weight: bold;
    color: var(--main-font-color);
    padding: 1px 6px;
    border-radius: 100%;
    position: absolute;
    top: 10px;
}

#notificationsCount {
    right: 140px;
}

#unreadedMailCount {
    right: 70px;
}

#pages {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.pagination {
    display: flex;
    list-style: none;
    list-style-type: none;
    gap: 0.5rem;
    padding: 0;
}

.btn-page {
    padding: 0.5rem 0.8rem;
    border: 1px solid gray;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 0.5rem;
}

.btn-page.active {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-page.disabled {
    color: #aaa;
    border-color: #eee;
    cursor: not-allowed;
}

.btn-page:hover:not(.active):not(.disabled) {
    background-color:rgba(40, 87, 137, 0.226);
}