* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a,
a:visited {
    text-decoration: none;
    color: #ccc;
}

a:hover {
    cursor: pointer;
    color: #fff;
}

body {
    background-color: #1d1d20;

    header {
        position: sticky;
        top: 0;
        z-index: 1;

        nav {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 0.25rem 0.5rem;
            background-color: #28282c;
            color: #ccc;
            box-shadow: 0 0 3px black;

            #searchBar {
                background-color: #1d1d20;
                border: 1px solid #515456;
                border-radius: 12px;

                #searchInput {
                    border: none;
                    border-radius: 6px;
                    background-color: transparent;
                    margin: 0 5px;
                    padding: 0.5rem;
                    min-width: 30rem;
                    color: #ccc;
                }

                #searchInput:focus {
                    outline: none;
                }

                #searchHelper {
                    padding: 5px;
                    width: 32.5rem;
                    margin-top: 9px;
                    display: none;
                    position: absolute;
                    background-color: #28282c;
                    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.624);
                    border-top: none;
                    backdrop-filter: blur(16px);
                    border-radius: 0 0 12px 12px;
                }

                .searchOption {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 5px;
                    border-radius: 6px;

                    &:hover {
                        background-color: rgb(255, 255, 255, 0.1);
                    }

                    label {
                        width: 100%;
                        padding: 5px;
                    }
                }
            }

            button {
                cursor: pointer;
                background-color: transparent;
                border: none;
                color: #ccc;
                font-size: 1rem;

            }

            button:hover {
                color: #fff;
            }

            #glass {
                margin-right: 10px;
            }

            ul {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                gap: 15px;
                right: 1rem;
            }
        }
    }

    main {
        color: #ccc;
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 94vh;
        width: 100%;
    }

}

textarea {
    resize: none;
}

button {
    cursor: pointer;
}

#principal {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    width: 100%;

    #recientes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 70%;
        padding: 1rem;
        background-color: #28282c;
        border-radius: 6px;
        box-shadow: 0 0 3px black;

    }

    aside {
        display: flex;
        flex-direction: column;
        background-color: #28282c;
        border-radius: 6px;
        gap: 1rem;
        width: 25%;
        padding: 1rem;
        box-shadow: 0 0 3px black;
        height: fit-content;
    }
}

.postCard {
    border: 1px solid #515456b8;
    border-radius: 6px;
    padding: 1rem;
    background-color: #1d1d20;

    &:hover {
        box-shadow: 0 0 5px #0860f2;
    }

    .postCardHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        width: 100%;
        font-size: larger;
    }

    .postCardFooter {
        display: flex;
        justify-content: space-between;
        font-size: small;

        .postCardAuthor {
            width: 100%;
        }
    }

    .postCardCreatedAt {
        font-size: 11pt;
        text-align: end;
    }
}

#FollowBtn {
    padding: 6px;
    margin: auto 0;
    margin-bottom: 6px;
    color: #ccc;
    background-color: #1360dbfc;
    border: 1px solid #1a7ae2a5;
    border-radius: 6px;
    box-shadow: 0 0 5px black;
    cursor: pointer;

}

#profileHeader {
    display: flex;
    gap: 1rem;
    border: 1px solid #232425b8;
    border-radius: 6px;
    margin-top: 1rem;
    background-color: #28282c;
    box-shadow: 0 0 5px black;
    padding: 1rem;
    font-size: larger;
    width: 94.25%;
}

.postTags {
    width: 100%;
    text-align: right;
    font-size: small;
}

#resultados {
    h1, h2 {
        text-align: center;
        padding: 1rem;
    }

    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .userCard {
        width: 25%;
        border: 1px solid #515456;
        text-align: center;
        padding: 1rem;
        border-radius: 6px;
        align-self: center;
        box-shadow: 0 0 2px black;

        &:hover {
            border: 1px solid #1a7ae2a5;
        }
    }

}